Checks: "
  -*,
  -abseil-*,
  bugprone-*,
  -bugprone-reserved-identifier,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  darwin-*,
  google-*,
  hicpp-*,
  -hicpp-vararg,
  misc-*,
  modernize-*,
  objc-*,
  performance-*,
  portability-*,
  readability-*"
